body {
    background: #000;
}
#Title {
    color: white;
    font-size: xxx-large;
}
#desc {
    color: white;
    font-size: x-large;
}
#appleimg {
    position: relative;
    left: 475px;
    background: white;

}
#apple {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -312px;
}
#spagetti {
    position: relative;
    left: 675px;
    height: 145px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -458px;
}
#spagettiimg {
    position: relative;
    left: 675px;
    background: white;
    top : -150px

}
#waterimg {
    position: relative;
    left: 875px;
    background: white;
    top : -304px
}
#water {
    position: relative;
    left: 875px;
    height: 145px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -603px;
}
#riceimg {
    position: relative;
    left: 475px;
    background: white;
    top: -600px;

}
#pizzaimg {
    position: relative;
    left: 675px;
    background: white;
    top: -755px;
}
#milkimg {
    position: relative;
    left: 875px;
    background: white;
    top: -910px;
}
#rice {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -912px;
}
#pizza {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -1063px;
}
#milk {
    position: relative;
    left: 875px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -1214px;
}
#burgerimg {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -1200px;
}
#friesimg {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -1369px;
}
#kebabimg {
    position: relative;
    left: 875px;
    height: 125px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -1537px;
}
#burger {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -1555px;
}
#fries {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -1705px;
}
#kebab {
    position: relative;
    left: 875px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -1855px;
}
#beefimg {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -1835px;
}
#beef {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -2190px;
}
#carimg {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -2005px;
}
#motorcycleimg {
    position: relative;
    left: 875px;
    height: 125px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -2174px;
}
#car {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -2342px;
}
#motorcycle {
    position: relative;
    left: 875px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -2492px;
}
#phoneimg {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -2500px;
}
#laptopimg {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -2836.5px;
}
#pcimg {
    position: relative;
    left: 875px;
    height: 125px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -2668px;
}
#phone {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -2855px;
}
#laptop {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -3155px;
}
#pc {
    position: relative;
    left: 875px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -3005px;
}
#bicecycleimg {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -3110px;
}
#trainimg {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -3280px;
}
#planeimg {
    position: relative;
    left: 875px;
    height: 125px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -3448px;
}
#bicecycle {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -3465px;
}
#train {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -3617px;
}
#plane {
    position: relative;
    left: 875px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -3767px;
}
#rocketimg {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -3775px;
}
#ohiohouseimg {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -3944px;
}
#crusaiimg {
    position: relative;
    left: 875px;
    height: 125px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -4112px;
}
#rocket {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -4131px;   
}
#ohiohouse{
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -4281px;
}
#crusai {
    position: relative;
    left: 875px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -4431px;
}
#robloxcardimg {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -4444px;
}
#tendollorfortnitecardimg {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -4612.5px;
}
#binchillingimg {
    position: relative;
    left: 875px;
    height: 125px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -4781px;
}
#robloxcard {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -4799px;
}
#tendollarfortnitecard {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -4949px;
}
#binchilling {
    position: relative;
    left: 875px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -5099px;
}
#ohiobabyimg {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -5114px;
}
#ohiobossimg {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -5282.5px;
}
#ohioimg {
    position: relative;
    left: 875px;
    height: 125px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -5450px;
}
#ohiobaby {
    position: relative;
    left: 475px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -5469px;
}
#ohioboss {
    position: relative;
    left: 675px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -5620px;
}
#ohio {
    position: relative;
    left: 875px;
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    line-height: 50px;
    background: white ;
    top: -5770px;
}