body {
    background-color: black;
}
#title {
    color: white;
    font-size: xx-large;
}
#cpstester {
    background-color: blue;
    border-radius: 5px;
    height: 100px;
    width: 500px;
    color: black;
}
#ohiomarket {
    background-color: purple;
    border-radius: 5px;
    height: 100px;
    width: 500px;
    color: black;
}
#calculator {
    background-color: green;
    border-radius: 5px;
    height: 100px;
    width: 500px;
    color: black;
}
#rock_paper_scissors {
    background-color: orangered;
    border-radius: 5px;
    height: 100px;
    width: 500px;
    color: black;
}
#discordbots {
    background-color: #7289DA;
#github {
    background-color: red;
    border-radius: 20px;
    height: 100px;
    width: 500px;
    color: black;
}
button:hover {
    cursor: pointer;
}