#counter{
    display: block;
    text-align: center;
    font-size: 80;
}

#down{
    
    text-align: center;
}

#up{
    
    text-align: center;
}

#reset{
    
    text-align: center;
}