body {
    background: linear-gradient(to right,#7289DA ,blue );
}

#title {
    color: white;
    font-size: xx-large;
}

#Schmieroel {
    background-color: gold;
    border-radius: 20px;
    height: 100px;
    width: 500px;
    color: black;
}

button:hover {
    cursor: pointer;
}